apiVersion: v1
kind: Namespace
metadata:
  name: traefik-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: traefik
  namespace: traefik-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: traefik
  template:
    metadata:
      labels:
        app: traefik
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
      - name: traefik
        image: traefik:v3.0
        args:
          - "--entrypoints.web.address=:80"
          - "--entrypoints.websecure.address=:443"
          - "--providers.kubernetesingress"
          - "--api.dashboard=true"
        ports:
          - containerPort: 80
            name: web
          - containerPort: 443
            name: websecure
---
apiVersion: v1
kind: Service
metadata:
  name: traefik
  namespace: traefik-system
spec:
  type: ClusterIP
  selector:
    app: traefik
  ports:
  - port: 80
    targetPort: 80
  - port: 443
    targetPort: 443
